version: '3'

services:

  elasticsearch:
    volumes:
      - esdata:/usr/share/elasticsearch/data
      - ./docker/prod/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml

  python:
    build:
      dockerfile: ./docker/prod/Dockerfile
